Repository rapidsai/node, pull requests merged in 2021-03, with the labels that each got.

#116 Fix groupBy with multiple value columns
  modules/cudf/src/groupby.cpp
  modules/cudf/src/node_cudf/groupby.hpp
  modules/cudf/test/cudf-groupby-tests.ts
Labels: bug, module: cuDF

#117 Add DataFrame.toArrow and DataFrame.sortValues
  modules/cudf/src/data_frame.ts
  modules/cudf/src/series.ts
Labels: enhancement, module: cuDF

#121 Add regex series functions
  modules/cudf/src/column.cpp
  modules/cudf/src/column.ts
  modules/cudf/src/column/re.cpp
  modules/cudf/src/node_cudf/column.hpp
  modules/cudf/src/series/string.ts
  modules/cudf/test/series/string-tests.ts
Labels: module: cuDF

#126 Add scatter for Series
  modules/cudf/src/node_cudf/table.hpp
  modules/cudf/src/series.ts
  modules/cudf/src/table.cpp
  modules/cudf/src/table.ts
  modules/cudf/src/table/copying.cpp
  modules/cudf/test/cudf-series-test.ts
Labels: module: cuDF

#129 add static Series.sequence method
  modules/cudf/src/column.cpp
  modules/cudf/src/column.ts
  modules/cudf/src/column/filling.cpp
  modules/cudf/src/node_cudf/column.hpp
  modules/cudf/src/series.ts
  modules/cudf/test/cudf-series-test.ts
Labels: module: cuDF

#128 Add Series `fill`, `fillInPlace`, `replaceNulls`, `replaceNaNs`
  modules/cudf/src/column.cpp
  modules/cudf/src/column.ts
  modules/cudf/src/column/filling.cpp
  modules/cudf/src/column/replace.cpp
  modules/cudf/src/column_accessor.ts
  modules/cudf/src/data_frame.ts
  modules/cudf/src/node_cudf/column.hpp
  modules/cudf/src/series.ts
  modules/cudf/src/series/float.ts
  modules/cudf/src/types/enums.ts
  modules/deck.gl/src/layers/edges.ts
  modules/deck.gl/src/layers/graph.ts
  modules/deck.gl/src/layers/nodes.ts
  modules/demo/graph/index.js
  modules/demo/graph/src/app.js
  modules/demo/graph/src/loader.js
  modules/glfw/src/jsdom/window.ts
  yarn.lock
Labels: module: cuDF, module: demos

#130 Build system fixes
  docker-compose.yml
  modules/core/bin/cmake-js/linux.sh
  modules/core/bin/exec.js
  modules/core/cmake/Modules/ConfigureCUDA.cmake
  modules/core/cmake/Modules/ConfigureCUDF.cmake
  modules/core/cmake/Modules/ConfigureCUSPATIAL.cmake
  modules/core/cmake/Modules/ConfigureCXX.cmake
  modules/core/cmake/Modules/ConfigureCuGraph.cmake
  modules/core/cmake/Modules/ConfigureOpenGLEW.cmake
  modules/core/cmake/Modules/ConfigureOpenGLFW.cmake
  modules/core/cmake/Modules/ConfigureRAFT.cmake
  modules/core/cmake/Modules/ConfigureRMM.cmake
  modules/core/cmake/Modules/ccache.conf.in
  modules/core/package.json
  modules/core/src/index.ts
  modules/demo/deck/3d-heatmap/package.json
  modules/demo/deck/3d-tiles/package.json
  modules/demo/deck/ShanghaiData/package.json
  modules/demo/deck/arc/package.json
  modules/demo/deck/brushing/package.json
  modules/demo/deck/data-filter/package.json
  modules/demo/deck/geojson/package.json
  modules/demo/deck/heatmap/package.json
  modules/demo/deck/highway/package.json
  modules/demo/deck/icon/package.json
  modules/demo/deck/line/package.json
  modules/demo/deck/playground/package.json
  modules/demo/deck/scatterplot/package.json
  modules/demo/deck/scenegraph-layer/package.json
  modules/demo/deck/screen-grid/package.json
  modules/demo/deck/tagmap/package.json
  modules/demo/deck/text-layer/package.json
  modules/demo/deck/trips/package.json
  modules/demo/deck/worldmap/package.json
  node-rapids.code-workspace
  package.json
  scripts/exec.js
  scripts/relink-bin-dirs/linux.sh
  yarn.lock
Labels: enhancement

#134 Add Basic Cudf Demo notebook
  .gitignore
  modules/cudf/notebooks/Basic Demo.ipynb
Labels: module: cuDF

#137 Ensure CPM dependencies build (once) in a common location
  .yarnrc
  modules/core/CMakeLists.txt
  modules/core/cmake/Modules/ConfigureCUDF.cmake
  modules/core/cmake/Modules/ConfigureCUSPATIAL.cmake
  modules/core/cmake/Modules/ConfigureCXX.cmake
  modules/core/cmake/Modules/ConfigureCuGraph.cmake
  modules/core/cmake/Modules/ConfigureOpenGLEW.cmake
  modules/core/cmake/Modules/ConfigureOpenGLFW.cmake
  modules/core/cmake/Modules/ConfigureRAFT.cmake
  modules/core/cmake/Modules/ConfigureRMM.cmake
  modules/core/cmake/Modules/get_cpm.cmake
  modules/cuda/CMakeLists.txt
  modules/cudf/CMakeLists.txt
  modules/cugraph/CMakeLists.txt
  modules/cuspatial/CMakeLists.txt
  modules/glfw/CMakeLists.txt
  modules/rmm/CMakeLists.txt
  modules/webgl/CMakeLists.txt
  package.json
  scripts/clean/linux.sh
  scripts/exec.js
  yarn.lock
Labels: enhancement, module: CUDA, module: RMM, module: cuDF, module: cuGraph, module: cuSpatial
