Repository rapidsai/node, pull requests merged in 2021-04, with the labels that each got.

#140 Add Bindings Progress Table
  BINDINGS.md
  README.md
Labels: documentation

#147 Add Geospatial and Graph demo notebooks + markdown file for data source URLs
  modules/cudf/notebooks/Geospatial Demo.ipynb
  modules/cudf/notebooks/SOURCES.md
  modules/demo/graph/Graph Demo.ipynb
Labels: documentation, enhancement, module: demos

#141 Fea/client server demo
  lerna.json
  modules/demo/.vscode/launch.json
  modules/demo/client-server/.gitignore
  modules/demo/client-server/README.md
  modules/demo/client-server/components/charts/deck.geo.js
  modules/demo/client-server/components/charts/echarts.bar.js
  modules/demo/client-server/components/charts/indicator.js
  modules/demo/client-server/components/layout.js
  modules/demo/client-server/components/layout.module.css
  modules/demo/client-server/components/navbar.js
  modules/demo/client-server/components/navbar.module.css
  modules/demo/client-server/components/server/cache.js
  modules/demo/client-server/components/server/cudf-utils.js
  modules/demo/client-server/components/server/run-middleware.js
  modules/demo/client-server/components/utils/legend.js
  modules/demo/client-server/next.config.js
  modules/demo/client-server/package.json
  modules/demo/client-server/pages/_app.js
  modules/demo/client-server/pages/api/[...param].js
  modules/demo/client-server/pages/dashboard/mortgage.js
  modules/demo/client-server/pages/dashboard/uber.js
  modules/demo/client-server/pages/index.js
  modules/demo/client-server/public/data/san_francisco_censustracts.geojson
  modules/demo/client-server/public/data/uber-demo.png
  modules/demo/client-server/public/images/mortgage.png
  modules/demo/client-server/public/images/rapids.png
  modules/demo/client-server/public/images/uber.png
  modules/demo/client-server/styles/global.css
  package.json
  scripts/demo/linux.sh
  yarn.lock
Labels: module: demos

#151 [Fea] update series constructor to add type inference
  modules/cudf/src/column.cpp
  modules/cudf/src/column/from_arrow.ts
  modules/cudf/src/series.ts
  modules/cudf/test/cudf-data-frame-tests.ts
  modules/cudf/test/cudf-groupby-tests.ts
  modules/cudf/test/series/string-tests.ts
Labels: module: cuDF

#154 CPM and groupBy types followup
  modules/core/cmake/Modules/ConfigureCUDF.cmake
  modules/core/cmake/Modules/ConfigureCUSPATIAL.cmake
  modules/core/cmake/Modules/ConfigureRMM.cmake
  modules/core/cmake/Modules/get_cpm.cmake
  modules/cudf/src/groupby/single.ts
  yarn.lock
Labels: enhancement, module: cuDF, module: cuSpatial

#158 add bool8 type inference
  modules/cudf/src/series.ts
  modules/cudf/test/cudf-series-test.ts
Labels: module: cuDF
