Repository rapidsai/node, pull requests merged in 2021-06, with the labels that each got.

#219 Pass in env() to NODE_CUDF_EXPECT
  modules/cudf/src/column.cpp
  modules/cudf/src/table.cpp
Labels: enhancement, module: cuDF

#216 [FEA] Added bindings for `head` and `tail`
  BINDINGS.md
  modules/cudf/src/data_frame.ts
  modules/cudf/src/series.ts
  modules/cudf/test/cudf-data-frame-tests.ts
  modules/cudf/test/cudf-series-test.ts
Labels: enhancement, module: cuDF

#221 [FEA] Added series `reverse`
  BINDINGS.md
  modules/cudf/src/series.ts
  modules/cudf/test/cudf-series-test.ts
Labels: enhancement, module: cuDF

#212 [FEA] Dataframe `concat`
  BINDINGS.md
  modules/core/package.json
  modules/cuda/src/buffer.ts
  modules/cuda/src/device.ts
  modules/cudf/src/column_accessor.ts
  modules/cudf/src/data_frame.ts
  modules/cudf/src/dataframe/concat.ts
  modules/cudf/src/dataframe/join.ts
  modules/cudf/src/node_cudf/table.hpp
  modules/cudf/src/table.cpp
  modules/cudf/src/table.ts
  modules/cudf/src/table/concatenate.cpp
  modules/cudf/src/types/mappings.ts
  modules/cudf/src/utilities/dtypes.cpp
  modules/cudf/test/cudf-data-frame-tests.ts
  modules/cudf/test/dataframe/join-tests.ts
  modules/cudf/test/series/binaryop/int16-tests.ts
  modules/cudf/test/series/binaryop/int32-tests.ts
  modules/cudf/test/series/binaryop/int64-tests.ts
  modules/cudf/test/series/binaryop/int8-tests.ts
  modules/cudf/test/series/binaryop/uint16-tests.ts
  modules/cudf/test/series/binaryop/uint32-tests.ts
  modules/cudf/test/series/binaryop/uint64-tests.ts
  modules/cudf/test/series/binaryop/uint8-tests.ts
  modules/cudf/test/series/utils.ts
  modules/webgl/src/webgl.ts
  package.json
  yarn.lock
Labels: enhancement, module: cuDF

#224 Fea/add reshape
  BINDINGS.md
  modules/cudf/src/data_frame.ts
  modules/cudf/src/node_cudf/table.hpp
  modules/cudf/src/table.cpp
  modules/cudf/src/table.ts
  modules/cudf/src/table/reshape.cpp
  modules/cudf/test/dataframe/interleave-tests.ts
Labels: enhancement, module: cuDF

#229 Add Series.skew and Series.kurtosis
  BINDINGS.md
  modules/cudf/src/series/numeric.ts
  modules/cudf/test/series/reduce/kurtosis-tests.ts
  modules/cudf/test/series/reduce/skew-tests.ts
Labels: module: cuDF

#215 [FEA] Added dataframe-replaceNulls
  BINDINGS.md
  modules/cudf/src/data_frame.ts
  modules/cudf/test/cudf-data-frame-tests.ts
Labels: enhancement, module: cuDF

#226 Implement cumulative reductions for Series
  modules/cudf/src/column.cpp
  modules/cudf/src/column.ts
  modules/cudf/src/column/reduction.cpp
  modules/cudf/src/node_cudf/column.hpp
  modules/cudf/src/series.ts
  modules/cudf/src/series/bool.ts
  modules/cudf/src/series/float.ts
  modules/cudf/src/series/integral.ts
  modules/cudf/test/series/reduce/cummax-tests.ts
  modules/cudf/test/series/reduce/cummin-tests.ts
  modules/cudf/test/series/reduce/cumprod-tests.ts
  modules/cudf/test/series/reduce/cumsum-tests.ts
Labels: module: cuDF

#239 [FEA] `Kurtosis` and `skew` for dataframe
  BINDINGS.md
  modules/cudf/src/data_frame.ts
  modules/cudf/test/cudf-data-frame-tests.ts
Labels: enhancement, module: cuDF

#220 [FEA] Added dataframe `sum`
  modules/cudf/src/data_frame.ts
  modules/cudf/test/dataframe/sum-tests.ts
Labels: enhancement, module: cuDF

#250 Add DataFrame.fromArrow
  BINDINGS.md
  modules/cudf/src/data_frame.ts
  modules/cudf/src/node_cudf/table.hpp
  modules/cudf/src/table.cpp
  modules/cudf/src/table.ts
  modules/cudf/src/table/arrow.cpp
  modules/cudf/test/dataframe/arrow-tests.ts
Labels: module: cuDF

#240 [FEA] Type inferred unaryops
  modules/cudf/src/data_frame.ts
  modules/cudf/src/series/bool.ts
  modules/cudf/src/series/float.ts
  modules/cudf/src/series/integral.ts
  modules/cudf/src/series/numeric.ts
  modules/cudf/test/cudf-data-frame-tests.ts
  modules/cudf/test/dataframe/sum-tests.ts
  modules/cudf/test/series/reduce/all-tests.ts
  modules/cudf/test/series/reduce/any-tests.ts
  modules/cudf/test/series/reduce/cummax-tests.ts
  modules/cudf/test/series/reduce/cummin-tests.ts
  modules/cudf/test/series/reduce/cumprod-tests.ts
  modules/cudf/test/series/reduce/cumsum-tests.ts
  modules/cudf/test/series/reduce/mean-tests.ts
  modules/cudf/test/series/reduce/product-tests.ts
  modules/cudf/test/series/reduce/std-tests.ts
  modules/cudf/test/series/reduce/sum-tests.ts
  modules/cudf/test/series/reduce/sumOfSqaures-tests.ts
  modules/cudf/test/series/reduce/variance-tests.ts
Labels: enhancement, module: cuDF

#256 Fix exclusive_scan test crash
  modules/cudf/src/column.cpp
Labels: bug, module: cuDF
