Repository rapidsai/node, pull requests merged in 2021-07, with the labels that each got.

#255 [FEA] Move array types to dtypes
  modules/cudf/src/data_frame.ts
  modules/cudf/src/types/dtypes.ts
Labels: module: cuDF

#227 [WIP] Add BlazingSQL bindings
  BINDINGS.md
  docker-compose.yml
  dockerfiles/devel.Dockerfile
  dockerfiles/nteract.Dockerfile
  dockerfiles/runtime.Dockerfile
  modules/blazingsql/.vscode/launch.json
  modules/blazingsql/CMakeLists.txt
  modules/blazingsql/index.js
  modules/blazingsql/jest.config.js
  modules/blazingsql/package.json
  modules/blazingsql/src/addon.cpp
  modules/blazingsql/src/addon.ts
  modules/blazingsql/src/algebra.ts
  modules/blazingsql/src/blazingcontext.ts
  modules/blazingsql/src/context.ts
  modules/blazingsql/src/index.ts
  modules/blazingsql/test/context-tests.ts
  modules/blazingsql/test/tsconfig.json
  modules/blazingsql/tsconfig.json
  modules/blazingsql/typedoc.js
  modules/blazingsql/wrapper/blazingsql/api.hpp
  modules/blazingsql/wrapper/blazingsql/cache.cpp
  modules/blazingsql/wrapper/blazingsql/cache.hpp
  modules/blazingsql/wrapper/blazingsql/context.cpp
  modules/blazingsql/wrapper/blazingsql/context.hpp
  modules/blazingsql/wrapper/blazingsql/graph.cpp
  modules/blazingsql/wrapper/blazingsql/graph.hpp
  modules/core/cmake/Modules/ConfigureBlazingSQL.cmake
  node-rapids.code-workspace
  tsconfig.json
  typedoc.js
  yarn.lock
Labels: module: BlazingSQL

#267 fromArrow correctly handle host buffers
  modules/cudf/src/data_frame.ts
  modules/cudf/src/table.ts
  modules/cudf/src/table/arrow.cpp
  modules/cudf/test/dataframe/arrow-tests.ts
Labels: module: cuDF

#269 Follow-on for #267
  modules/cudf/src/data_frame.ts
  modules/cudf/src/table.ts
  modules/cudf/src/table/arrow.cpp
Labels: module: cuDF

#274 Fea: Add basic bsql testing, add basic docs, fix up multi table queries
  modules/blazingsql/src/blazingcontext.ts
  modules/blazingsql/test/blazing-context-tests.ts
  yarn.lock
Labels: enhancement, module: BlazingSQL

#276 Move bsql hyperlink
  README.md
Labels: module: BlazingSQL

#275 [FEA] bsql managing tables bindings
  BINDINGS.md
  modules/blazingsql/src/blazingcontext.ts
  modules/blazingsql/test/blazing-context-tests.ts
Labels: enhancement, module: BlazingSQL

#273 Refactor cast to use Visitor pattern
  modules/cudf/src/column.cpp
  modules/cudf/src/column.ts
  modules/cudf/src/column/convert.cpp
  modules/cudf/src/node_cudf/column.hpp
  modules/cudf/src/series.ts
  modules/cudf/src/series/bool.ts
  modules/cudf/src/series/categorical.ts
  modules/cudf/src/series/float.ts
  modules/cudf/src/series/integral.ts
  modules/cudf/src/series/list.ts
  modules/cudf/src/series/numeric.ts
  modules/cudf/src/series/string.ts
  modules/cudf/src/series/struct.ts
  modules/cudf/src/series/timestamp.ts
  modules/cudf/src/utilities/dtypes.cpp
  modules/cudf/test/cudf-column-tests.ts
  modules/cudf/test/series/string-tests.ts
  modules/cudf/test/series/timestamp-tests.ts
  modules/cudf/test/series/unaryop/float32-tests.ts
  modules/cudf/test/series/unaryop/float64-tests.ts
  modules/cudf/test/series/unaryop/int16-tests.ts
  modules/cudf/test/series/unaryop/int32-tests.ts
  modules/cudf/test/series/unaryop/int64-tests.ts
  modules/cudf/test/series/unaryop/int8-tests.ts
  modules/cudf/test/series/unaryop/uint16-tests.ts
  modules/cudf/test/series/unaryop/uint32-tests.ts
  modules/cudf/test/series/unaryop/uint64-tests.ts
  modules/cudf/test/series/unaryop/uint8-tests.ts
Labels: module: cuDF

#277 Fea: bsql `explain` binding
  BINDINGS.md
  modules/blazingsql/src/addon.cpp
  modules/blazingsql/src/addon.ts
  modules/blazingsql/src/blazingcontext.ts
  modules/blazingsql/src/json_plan.ts
  modules/blazingsql/src/node_blazingsql.ts
  modules/blazingsql/test/blazing-context-tests.ts
  modules/blazingsql/wrapper/blazingsql/api.cpp
  modules/blazingsql/wrapper/blazingsql/api.hpp
Labels: enhancement, module: BlazingSQL
