Repository rapidsai/node, pull requests merged in 2021-05, with the labels that each got.

#159 [Fix] remove scatter & setValue inplace
  modules/cudf/src/series.ts
  modules/cudf/test/cudf-series-test.ts
  modules/demo/spatial/app.js
Labels: module: cuDF

#180 Find common types for joins
  modules/cudf/src/data_frame.ts
  modules/cudf/src/dataframe/join.ts
  modules/cudf/test/dataframe/join-tests.ts
Labels: module: cuDF

#183 [FEA] Add `Series.getJSONObject`
  BINDINGS.md
  modules/cudf/src/column.cpp
  modules/cudf/src/column.ts
  modules/cudf/src/column/json.cpp
  modules/cudf/src/node_cudf/column.hpp
  modules/cudf/src/series/string.ts
  modules/cudf/test/series/string-tests.ts
Labels: enhancement, module: cuDF

#182 [FEA] Add `Series` concat/append
  BINDINGS.md
  modules/cudf/src/column.cpp
  modules/cudf/src/column.ts
  modules/cudf/src/column/concatenate.cpp
  modules/cudf/src/node_cudf/column.hpp
  modules/cudf/src/series/list.ts
  modules/cudf/src/series/numeric.ts
  modules/cudf/src/series/string.ts
  modules/cudf/src/series/struct.ts
  modules/cudf/src/types/mappings.ts
  modules/cudf/test/cudf-series-test.ts
  modules/cudf/test/series/list-tests.ts
  modules/cudf/test/series/string-tests.ts
  modules/cudf/test/series/struct-tests.ts
Labels: enhancement, module: cuDF

#181 [WIP] Build real libcugraph.so
  modules/core/cmake/Modules/ConfigureCuGraph.cmake
  modules/core/cmake/Modules/ConfigureRAFT.cmake
  modules/cugraph/CMakeLists.txt
Labels: enhancement, module: cuGraph

#189 [FEA] Added `isNaN` to `dataframe`
  BINDINGS.md
  modules/cudf/src/data_frame.ts
  modules/cudf/test/cudf-data-frame-tests.ts
Labels: enhancement, module: cuDF

#194 [CHORE] Rename ConfigureCuGraph.cmake, other small cmake cleanup
  modules/core/cmake/Modules/ConfigureCUDF.cmake
  modules/core/cmake/Modules/ConfigureCUGRAPH.cmake
  modules/core/cmake/Modules/ConfigureCUML.cmake
  modules/core/cmake/Modules/ConfigureCUSPATIAL.cmake
  modules/core/cmake/Modules/get_cpm.cmake
  modules/cugraph/CMakeLists.txt
Labels: enhancement, module: cuGraph

#195 [BUG] Fix the segfault in the node console
  modules/core/include/nv_node/objectwrap.hpp
Labels: bug, enhancement

#192 [FEA] Added `isNotNull` and `isNotNaN`
  BINDINGS.md
  modules/cudf/src/data_frame.ts
  modules/cudf/test/cudf-data-frame-tests.ts
Labels: enhancement, module: cuDF

#198 [FIX] make GraphCOO `numNodes` and `numEdges` functions instead of getters
  modules/cugraph/src/addon.ts
  modules/cugraph/src/graph_coo.cpp
  modules/cugraph/src/index.ts
  modules/cugraph/src/node_cugraph.ts
  modules/cugraph/src/node_cugraph/graph_coo.hpp
  modules/demo/graph/src/loader.js
Labels: bug, module: cuGraph

#193 [FEA] `DataFrame` Math Ops: Trig, Inverse, and Hyperbolic
  BINDINGS.md
  modules/cudf/src/data_frame.ts
  modules/cudf/test/cudf-data-frame-tests.ts
Labels: enhancement, module: cuDF

#203 Update RAPIDS dependencies to calendar versioning
  modules/core/cmake/Modules/ConfigureCUDF.cmake
  modules/core/cmake/Modules/ConfigureCUGRAPH.cmake
  modules/core/cmake/Modules/ConfigureCUML.cmake
  modules/core/cmake/Modules/ConfigureCUSPATIAL.cmake
  modules/core/cmake/Modules/ConfigureCXX.cmake
  modules/core/cmake/Modules/ConfigureRMM.cmake
  modules/cudf/CMakeLists.txt
  modules/cudf/src/column/json.cpp
  modules/cugraph/CMakeLists.txt
  modules/cuml/CMakeLists.txt
  modules/cuspatial/CMakeLists.txt
  modules/rmm/CMakeLists.txt
  package.json
Labels: enhancement
